table {
    width:100%;
    border-collapse:collapse;
}
td, th{
    border: 1px solid gray;
}
th {
    font-variant: small-caps;
    background-color: rgb(140, 150, 157);
    color:white;

}
tbody tr:nth-child(even){
    background-color: rgb(31, 56, 85);

}
tbody tr:nth-child(odd){
    color: rgb(140, 150, 157);
}